<!DOCTYPE html>
<html lang="fr"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<!-- Footer -->
<footer th:fragment="footerFragment" class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
                <span th:utext="#{commun.label.messageCopyright}"></span>
            </div>
            <div>
                <a href="#" th:utext="#{commun.label.messagePrivatePolicy}"></a>
                &middot;
                <a href="#" th:utext="#{commun.label.termsCondition}"></a>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</body>
</html>